
/* Preserve a order */s
a:link{
    color: rgb((123), 229, 131);
}
a:visited{
    color:rgb(255, 51, 187);
}
a:hover{
    color:rgb(221,221,221);
}
a:active{
    color:skyblue;
}
button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
body{
    margin:0 auto;
}
div{
    text-align:left;
}
h1{
    background-blend-mode: hard-light;
    background-color: seashell;
    border-radius: .23rem;
    border-style:ridge;
    box-sizing: border-box;
    color:rgb(1,13,17);
    flex-flow: wrap-reverse;
    font-family: 'Viadoa Libre';
    font-kerning: auto;
    font-size: 5.13123rem;
    font-style: bold;
    font-variant: small-caps;
    margin:.03193rem;
    padding:.0127rem auto;
    text-align: center;
}
h2::first-letter{
    font-style:bold;
}
h2{
    background-color: rgb(57, 143, 229);
    border-radius: .23rem;
    border: 3rem rgb(0,5,7);
    box-sizing: border-box;
    color: seashell;
    font-family: 'Reenie Beanie', cursive;
    font-kerning: auto;
    font-style: italic;
    font-variant: small-caps;
    margin: .077rem;
    padding: .733rem;
}
h3{
    background-color: rgb(47, 23, 131);
    border-radius: .23rem;
    border: 3rem rgb(0,5,7);
    box-sizing: border-box;
    color: seashell;
    font-family: 'Reenie Beanie', cursive;
    font-kerning: auto;
    font-style: italic;
    font-variant: small-caps;
    margin: .077rem;
    padding: .733rem;
}
h4{
    font-size: 1rem;
    margin: .113rem;
}
h5{
    margin: .113rem;
}
input [type="email"]{
    background-color: rgb(51,37,13);
}
li,ul{
    background-color: seashell;
    color: rgb(5,53,41);
    font-family: 'Viadoa Libre';
    font-kerning: auto;
    font-style: normal;
}
p{
    background-color: rgb(7, 31, 129);
    border-radius: .29rem;
    border-style:solid;
    border: .21247rem rgb(0, 17, 13);
    color:seashell;
    font-family: 'Yellowtail', 'fantasy';
    font-kerning: auto;
    font-size: 1.2912341357rem;
    font-stretch: ultra-expanded;
    font-variant: small-caps;
    initial-letter: bold;
    line-height: 1.323rem;
    margin-bottom:.0123rem;
    margin: 0.0169rem;
    padding:.0623rem;
    text-align: left;
    text-indent: .331rem;
    word-spacing: .713rem;
}
section{
    background-color: rgb(6, 1, 23);
    border-radius: .29rem;
    color: seashell;
    font-family: 'Yellowtail','fantasy';
    font-size: 1.23rem;
    margin: .113rem;
    text-align: left;
    width: 37%;
}
section div{
    width:37%;
}
.fishmenupics{
    background-color: seashell;
    border-radius: .23rem;
    border-style:groove;
    box-sizing: border-box;
    height: 150px;
}
.float_container{
    background-color: rgb(237,253,253);
}
.float_left{
    background-color: rgb(253,67,0);
    float: left;
    height: 7.321rem;
    width: 7.321rem;
}
.h4menu{
    color: rgb(63, 61, 61);
    font-family: 'Yellowtail', 'fantasy';
    font-kerning: auto;
    font-size: 3.2912341357rem;
    font-variant: small-caps;
    initial-letter: bold;
}
.quantity {
    padding-top: 3px;
    margin-right: 60px;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
.shopping-cart {
    padding-left: 13px;
    margin: 13px auto;
   
    display: flex;
    flex-direction: column;
  }
.special{
    background-color: seashell;
    color: rgb(253,27,163);
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
.undraw{
    align-content: space-between;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}
#list-item{
    background-color: seashell;
    color: rgb(5,53,41);
}
#thumbs {   
    margin-left: auto; 
    margin-right: auto;
     text-align: center;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
#thumbs a {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
