
.container-offwhite{
    background-color: #F3F1EF;
    padding: 4rem .5rem 6rem .5rem;
    min-height: 80vh;
    
}
.container-green{
    background-color: rgba(73,90,69,0.25);
    padding: 4rem .5rem 6rem .5rem;
}

.container-white{
    padding: 4rem .5rem 6rem .5rem;
}

.container-tan{
    background-color: #F4F1EA;
}

html {
    scroll-behavior: smooth;
}

.jumbotron h1 {
    font-family: 'Poppins';
    color: #F3F1EF;
    font-size: 4rem;
    text-align: right;

}

.jumbotron h2 {
    font-family: 'Poppins', cursive;
    color: #F3F1EF;
    font-size: 2rem;
    text-align: right;
}

h1,
h2,
h3,
h4,
h5,
.card-header,
p,
.btn
 {
    font-family: 'Poppins', cursive;
}

.jumbotron {
    position: relative;
    overflow: hidden;
    background-color:black;
    height: 50vh;
    margin-bottom: 0;
  }
  .jumbotron video {
    position: absolute;
    z-index: 1;
    top: 0;
    width:100%;
    height:100%;
    object-fit: cover;
    opacity:0.9;
  }
  .jumbotron .container {
    z-index: 2;
    position: relative;
  }

/* .jumbotron{
    position: relative;
    z-index: -101;
    background-size: cover;
    height: 50vh;
    overflow: hidden;
}

#video-background { 
    position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      z-index: -100;
      width:100%;
} */
/*.jumbotron {
    background-image: url("/img/version2imgs/pexels-blaque-x-932638.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    margin: 0;
    padding: 30px;
    color: whitesmoke;
}
*/

.navbar {
    background-color: #95A593
}

.nav-item {
    color: rgb(179, 239, 247);
    font-family: sans-serif;
}

a,
a.hover {
    text-decoration: none;
    color: black;
}

.btn-dark {
    display: flex;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-family: sans-serif;

}

.fishCard {
    align-items: center;
    margin: auto;
    width: 20rem;
    height: 20rem;
    box-shadow: 5px 5px 10px 0px;
    margin-bottom: 20px;
}

.menuitem h4 {
    font-size: 1rem;
}

.fishImg {
    width: 15rem;
}

footer {
    background-color: #95A593;
    height: 4rem;
    color: whitesmoke;
}

.menuitem {
    align-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
}

/* input .valuebtn {
    width: 50%;
} */

.quantity input {
    -webkit-appearance: none;
    border: none;
    color: #43484D;
    font-size: 16px;
    font-weight: 300;
    pointer-events: none;
    text-align: center;
    width: 32px;
}

.col-25 {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%;
    /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container1 {
    background-color: #f2f2f2;
    padding: 3rem;
    border: solid .5px #495A45;
    border-radius: 3px;
    margin: 1rem 0 2rem 0
}

.pageHeader {
    align-content: center;
    align-items: center;
    font-size: 3.2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.icon-section{
    width: 100%;
    height: auto;
    margin: 2% 0 3rem 0%;
    text-align: center;
}

.icon-wrapper{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 25px;
}

.inner-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10%;
}

.icon-wrapper:hover .inner-wrapper{
    transform: rotateY(180deg);

}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10%;
}

.front{
    background-color: whitesmoke;
    color: black;
}
.back{
    background-color: #43484D;
    color: white;
    transform: rotateY(180deg);
}

.front .fas{
   padding-top: 30px;
}

.back p {
    margin: 20% 10% 5% 10%;
    font-family: 'Poppins';
    font-size: 1rem;
}


.checkoutBox {
    background-color: #95A593;
    border-radius: .23rem;
    border: 3rem rgb(0, 5, 7);
    box-sizing: border-box;
    color: whitesmoke;
    font-kerning: auto;
    font-variant: small-caps;
    margin: .077rem;
    margin-bottom: 1rem;
    padding: .733rem;
}

.productsummary {
    background-color: #f2f2f2;;
    border-radius   : .29rem;
    border-style    : solid;
    border          : .21247rem rgb(0, 17, 13);
    color           : black;
    font-kerning    : auto;
    font-size       : 2rem;
    font-stretch    : ultra-expanded;
    initial-letter  : bold;
    line-height     : 1.323rem;
    margin          : 0.05rem;
    padding         : .2rem;
    text-align      : right;
    text-indent     : .331rem;
    word-spacing    : .5rem;
}

/*The styling below makes the input fields on the echeckout sheet 100%, but I can't figure out how to make this not apply to the fishcard plus and minus btns*/

.checkout-text {
    width        : 100%;
    margin-bottom: 15px;
    padding      : 12px;
    border       : 1px solid #ccc;
    border-radius: 3px;
} 

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.5); 
    font-size: .75rem;
    max-width: 100%;
    width:100%;
    left: 0;
}

.carousel-caption h3 {
    font-size: 1.25rem;
}

 
.carousel {
    border: solid rgb(45, 118, 131);
    width: 25rem;
    height: auto;
}
  
#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.carousel-item,
.carousel-inner,
.carousel-inner img {
  width: 100%;
  height: auto;
  text-align: center;
}

.carousel-item {
  text-align: center;
}

a:hover{
    color: #495A45;
}

@media (max-width: 600px) {

    .col-25 {
        margin-bottom: 20px;
    }

    .cartImg {
        max-width: 2rem;
    }

    .construction {
        display: none;
    }

}